/**
 * Dashboard main styling
 */
#dashboard .button {
  margin-bottom : 0;
}

#dashboard .grid-stack {
  margin-top   : 40px;
  margin-left  : -10px;
  margin-right : -10px;
}

#dashboard .grid-stack-item-content {
  padding    : 10px;
  box-shadow : 0 0 1px 1px darkgray;
}

/**
 * Widget select list styling
 */
#widgets {
  -webkit-box-orient    : horizontal;
  -webkit-box-direction : normal;
  display               : -webkit-box;
  display               : -webkit-flex;
  display               : -ms-flexbox;
  display               : flex;
  -webkit-flex-flow     : row wrap;
  /*noinspection CssUnknownProperty*/
  -ms-flex-flow         : row wrap;
  flex-flow             : row wrap;
  margin                : 0 -10px;
}

#widgets .grid-stack-item {
  -webkit-box-flex : 0;
  -webkit-flex     : 0 0 auto;
  -ms-flex         : 0 0 auto;
  flex             : 0 0 auto;
  margin-bottom    : 10px;
  padding          : 0 10px;
  width            : 100%;
}

@media screen and (min-width : 640px) {
  #widgets .grid-stack-item {
    margin-bottom : 0;
    width         : 33.33%;
  }
}

@media screen and (min-width : 1024px) {
  #widgets .grid-stack-item {
    width : 25%;
  }
}

#widgets .grid-stack-item-content {
  position   : relative;
  padding    : 10px;
  max-height : 250px;
  overflow   : hidden;
  border     : 1px solid;
}

#widgets .grid-stack-item-content a.button-add-item {
  display  : inline-block;
  content  : '';
  position : absolute;
  top      : 0;
  right    : 0;
  left     : 0;
  bottom   : 0;
  z-index  : 99;
}

#widgets .grid-stack-item-content:hover a.button-add-item,
#widgets .grid-stack-item-content:focus a.button-add-item {
  background : rgba(0, 0, 0, 0.3);
}

#widgets .grid-stack-item-content .settings-tray-editable:hover {
  background : unset !important;
}

/**
 * Toggle button
 */
[data-dashboard-locked]:after {
  display             : inline-block;
  content             : '';
  margin-left         : 6px;
  width               : 16px;
  height              : 16px;
  background-position : center center;
  vertical-align      : middle;
}

[data-dashboard-locked='1']:after {
  background : url('../images/lock.svg');
}

[data-dashboard-locked='0']:after {
  background : url('../images/lock-open.svg');
}

/**
 * Close button
 */
[data-dashboard-widget-remove] {
  display        : inline-block;
  position       : absolute;
  top            : 10px;
  right          : 15px;
  width          : 20px;
  height         : 20px;
  text-align     : center;
  vertical-align : middle;
  cursor         : pointer;
}

[data-dashboard-widget-remove]:before {
  display        : inline-block;
  content        : 'x';
  vertical-align : middle;
  line-height    : 0;
}
