{#
/**
 * @file banner.html.twig
 * Default theme implementation to present Content widget data.
 *
 * This template is used when viewing Content widget pages.
 *
 *
 * Available variables:
 * - items: A list of content items.
 * - items_attr: A list of content items attreibutes.
 * - attributes: HTML attributes for the container element.
 * - locked: if grid locked.
 *
 * @see template_preprocess_dashboard()
 *
 * @ingroup themeable
 */
#}
<div id="widgets" {{ attributes }}>
  {% if items %}
    {% for key, item in items %}
      {% set attr = create_attribute(items_attr[key]) %}
      <div {{ attr.addClass('grid-stack-item') }}>
        <div class="grid-stack-item-content">
          {% if item|render %}
            {{ item }}
          {% else %}
            <h2>{{ 'Widget has no content.'|t }}</h2>
          {% endif %}
          {% set url = path('codev_dashboard.widgets.add', {
            'widget' : key
          }) %}
          <a href="{{ url }}" class="button-add-item"></a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h3>{{ 'No more widgets available.'|t }}</h3>
  {% endif %}
</div>