{#
/**
 * @file banner.html.twig
 * Default theme implementation to present Content widget data.
 *
 * This template is used when viewing Content widget pages.
 *
 *
 * Available variables:
 * - items: A list of content items.
 * - items_attr: A list of content items attreibutes.
 * - attributes: HTML attributes for the container element.
 * - locked: if grid locked.
 *
 * @see template_preprocess_dashboard()
 *
 * @ingroup themeable
 */
#}
<div id="dashboard" {{ attributes }}>
  <aside class="buttons">
    <a
      href="{{ path('codev_dashboard.widgets') }}"
      class="button button--primary">
      {{ 'Add new widget'|t }}
    </a>
    <button
      class="button"
      data-dashboard-locked="{{ locked }}">
      {{ 'Lock widget'|t }}
    </button>
  </aside>
  <div class="grid-stack">
    {% if items %}
      {% for key, item in items %}
        {% set attr = create_attribute(items_attr[key]) %}
        <div {{ attr.addClass('grid-stack-item') }}>
          <div class="grid-stack-item-content">
            {% if item|render %}
              {{ item }}
            {% else %}
              <h2>{{ 'Widget has no content.'|t }}</h2>
            {% endif %}
          </div>
          <span data-dashboard-widget-remove></span>
        </div>
      {% endfor %}
    {% else %}
      <h3>{{ 'There are no widgets added to the dashboard.'|t }}</h3>
    {% endif %}
  </div>
</div>
